.chip{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: inline-block;
}

.chipWhite{
  background-color: white;
}

.chipYellow{
  background-color: yellow;
}

.chipRed{
  background-color: red;
}

.board{
  background-color: blue;
}
