.chip{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: inline-block;
}

.white{
  background-color: white;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}

.board{
  background-color: blue;
}
